:root {
  --maincolor: #8da101;
  --callouctcolor: #3a94c5;
  --hovercolor: #8da101;

  --color-primary: #8da101;
  --color-primary-hover: #8da101;
  --color-border: #8da101;
  --color-callout: #1e90ff;
  --color-text: #232333;
  --color-text-muted: #737373;
  --color-text-meta: #999999;
  --color-background: #fdf6e3;
  --color-background-code: #E6E2CC;
  --color-background-pre: #E6E2CC;
  --color-background-toc: #E6E2CC;
  --color-background-draft: #E6E2CC;

}

@font-face {
  font-family: "DepartureMono";
  src: url("/fonts/DepartureMono-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
.meta,
footer {
  font-family: "DepartureMono";
}

a:hover,
.soc:hover {
  outline: none;
}

.soc:hover {
  color: var(--color-background);
}

p {
  margin-block: 1.2rem;
}

li {
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  margin-top: 0.5rem;
}

.divider {
  margin-top: 1rem;
  border-top: 0.4rem dotted var(--color-border, #663399);
}

.subtitle {
  border-left: 3px solid var(--color-border, #663399);
  font-size: 1rem;
  padding-left: 1em;
}

.pagination {
  text-align: right;
  padding-right: 1em;
  margin-top: 2em;
}

.page-item {
  padding: 0 0.5em;
}

.footer-info {
  text-align: center;
  margin-left: auto;
}

img {
  max-width: 60%;
  max-height: 60vh;
  margin-left: 20%;
  margin-right: 20%;
}

.main {
  display: flex;
  flex-direction: row;
}

.main>a {
  margin-top: auto;
  margin-left: 1em;
}

.logo {
  width: 3em;
  height: 3em;
  margin: 0;
  border: none
}
