{{ $serie := where .Site.RegularPages "Params.series" .Params.series }}
<div class="series">
  <h2>
    <strong>Série: </strong>
    {{ .Params.series }} 
    {{ .Params.index }}/{{ $serie.Len }}
  </h2>
  {{ $prev :=  index ($serie.ByParam "index") (sub .Params.index 2)}}
  {{ if $prev }}
    <a href="{{ $prev.Path }}">&lt Article précédent</a>
  {{ end }}

  {{ $next :=  index ($serie.ByParam "index") .Params.index}}
  {{ if $next }}
    <a href="{{ $next.Path }}"> Article suivant &gt</a>
  {{ end }}
</div>
