
<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}

			<main class="list">
				<div class="site-description">
					<section class="body">
						{{ .Content }}
					</section>
				</div>
				<h1 class="title">{{ i18n "my_articles" }}</h1>
				{{ $pages := where .Site.RegularPages "Params.hidden" "ne" true }}
				{{ $latest := $pages.ByDate.Reverse }}
				{{ with index $latest 0}}
				<section class="list-item">
					{{ if .Params.series }}
					{{ $serie := where .Site.RegularPages "Params.series" .Params.series }}
					<h2 class="title">
						{{ .Params.series }} [{{ .Params.index }}/{{ $serie.Len }}]<br>
					</h2>
					<b class="subtitle">
						{{.Title}}
					</b>
					<br>
					<time>{{ dateFormat ":date_medium" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span>
						{{ end }}</time>
					{{ else }}
					<h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
					<time>{{ dateFormat ":date_medium" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span>
						{{ end }}</time>
					{{ end }}
					{{ .Params.Tldr }}
					<a class="readmore" href="{{ .RelPermalink }}">{{ i18n "read_more" }} ⟶</a>
				</section>
				{{ end }}
				<br>

				<div class="divider"></div>

				<h1 class="title">{{ i18n "my_series" }}</h1>
				{{ $pages := .Site.RegularPages }}
				{{ range $pages.GroupByParam "series" }}
				{{ $first := index .Pages 0 }}
				<section class="list-item">
					<h2 class="title">
						{{ .Key }}
					</h2>
					{{ range sort .Pages "Params.index" }}
					{{ .Params.index }}.
					<a href="{{ .RelPermalink }}">{{.Title}}</a>
					<br>

					{{ end }}
				</section>
				{{- end -}}
			</main>
			{{ partial "footer.html" . }}
		</div>
	</body>
</html>
